body {
  background-color: #F6F8F7;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background-color: #eb5242;
  color: #f1f1f1;
  text-shadow: none;
  -webkit-text-shadow: none;
}
::selection {
  background-color: #eb5242;
  color: #f1f1f1;
  text-shadow: none;
  -webkit-text-shadow: none;
}
h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

.price-table .font,.pricing-table,.price-table button,.price-table .sign-up,.price-table .data-holder,.price-holder,.price-table .head .title
{
	text-shadow:0 1px 0 #C1C5C6;
	font-weight:bold;
	 font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
label,.section-title h3,.section-title h4,.position,.desc,.value ,.nav-menu .nav-pills li a,.head-tooltip{
    font-family: 'Roboto Condensed', sans-serif;
 
}
.button,.logo,.logo h1{
    font-family: 'Life Savers', cursive;
}
.logo h3,.excerpt,.excerpt p,.section-title h3{
     font-family: 'Bad Script', cursive;
}

.parallax-section{
    background:url("../images/para-bg.jpg") no-repeat fixed 0 100% transparent;
    color: #fff;
    height: 700px;
    margin: 0;
    padding: 120px 0 0 0;
}

.excerpt{
   background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
     margin: 50px auto;
     border-radius: 5px;
}
.logo,.logo h1,.excerpt,.excerpt p,.feature-item .title {
     text-shadow: 0 2px 0 rgba(0,0,0,0.4);
  -webkit-text-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.logo,.logo h1{
    text-align: center;
    line-height: 90px;

font-size: 100px;

}
.section-title h3 {
    font-size: 40px;
}
.logo h3{
 
    font-size: 30px;
}
.excerpt,.excerpt p{
   width: 980px;
  
    
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
.button.big i{
    font-size: 30px;
    
}
.button.big {
    font-size: 25px;
    
}
.button-holder{
    text-align: center;
    margin-top: 100px;
}

.button:hover,.button:hover a{
    color:#f1f1f1;
    text-decoration: none;
     background-color: rgba(0,0,0,0.5);
        border-bottom: 4px solid rgba(0,0,0,0.3);
          margin-top:  1px;
}
.ie8 .button.inverse{
       color:#333;
    
     background-color: #f1f1f1;
        border-bottom: 4px solid #fff;
}
.ie8 .button.inverse:hover{
       color:#000;
     
     background-color: #FFF;
        border-bottom: 4px solid #f1f1f1;
}
.button.inverse{
       color:#333;
    
     background-color: rgba(255,255,255,0.7);
        border-bottom: 4px solid rgba(255,255,255,0.5);
}
.button.inverse:hover{
       color:#000;
     
     background-color: rgba(255,255,255,0.9);
        border-bottom: 4px solid rgba(255,255,255,0.5);
}
.button{
     padding: 10px 20px;
     display: inline;
}
.ie8 .button{
     background-color: #2F645A;
        border-bottom: 4px solid #28554E;
}
.ie8 .button:focus,.button:active,.button:hover{
  background-color: #254F48;
        border-bottom: 4px solid #324C46;
    text-decoration: none;
   
}
.button{
    
    background-color: rgba(0,0,0,0.3);
        border-bottom: 4px solid rgba(0,0,0,0.2);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        color:#fff;
        
}
.button-holder a{
    margin: 0 5px;
}
.button:focus,.button:active{
    background-color: rgba(0,0,0,0.4);
        border-bottom: 4px solid rgba(0,0,0,0.2);
    text-decoration: none;
    color: #F1f1f1;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
 background-color: rgba(255, 255, 255, 0.1);
    
    color:#fff;
        text-shadow: 0 1px 2px #333333;
           -webkit-text-shadow: 0 1px 2px #333333;
        padding: 50px 0 20px;
}
.section-title .icon{
    font-size: 60px;
    color:#2D2F2F;
    margin-bottom: 5px;
}
#content{
       background-color: #F1F1F1;
}
section.features { 
    background-color: #F49040;
     border-top: 1px solid #BB5A0B;
       left: 0;
    right:0;
    position: relative;
    z-index: 20000;
}

.section-title h4 {
    font-weight: normal;
}
.client-item {
    background-color: #F1F1F1;
    border: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 250px;
    position: relative;
    width: 250px;
    display: inline-block;
}
.client-holder{
    text-align: center;
}
.client-holder:first-child{
    margin-top: 40px;
}
.client-item .icon{
    font-size: 90px;
  text-shadow: 0 1px #FFFFFF, 0 -1px #000000;
   -webkit-text-shadow: 0 1px #FFFFFF, 0 -1px #000000;
   width: 100px;
   height: 100px;
   
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    
}

.shadowed,.client-item,.team-item  {
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.client-item:hover .hover{
    opacity: 1;
}
.client-item .hover{
      border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    width:100%;
    height:100%;
    -webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
		transition: all 400ms ease;
    opacity: 0;
    background-color: rgba(66, 162, 0, 0.6);
}
.client-item .hover a{
    text-decoration: none;
    font-size: 60px;
        
    position: absolute;
     background-color: rgba(0,0,0,0.6);
     
      margin: auto;
      color:#fff;
      border-radius: 500px;
    -webkit-border-radius: 500px;
  display: block;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
   width: 50%;
   height: 50%
}
.client-item .hover a:hover{
    background-color: rgba(255,255,255,0.6);
      color:#fff;
      
}
.client-item .hover a i{
  
     right: 0;
     left: 0;
  
top: 25%;
   
 position: absolute;
}
.pin-it{
      right: 0;
     left: 0;
  padding-top: 10px;
}

.team-holder{
    text-align: center;
    margin-top: 40px;
}

.team-item {
    display: inline-block;
    width: 250px;
    color:#fff;
    text-shadow:0px 1px 0px #000;
}
section{
    padding-bottom: 70px;
    background-image: url(../images/noise.png);
    box-shadow: 0 0 224px 130px rgba(0, 0, 0, 0.1) inset;
}
section.team{
    background-color: #42A2CE;
    border-top: 1px solid #297AA0;
    position: relative;
        z-index: 1980;
}
.team-item:nth-child(1){
    background-color: #1F5B78;
}
.team-item:nth-child(2){
    background-color: #318EBB;
}
.team-item:nth-child(3){
    background-color: #5EAED5;
}
.team-item:nth-child(4){
    background-color: #9ACCE4;
}

.team-item .avatar:hover{
    opacity: 0.8;
}
.team-item .info-holder{
    text-align: left;
    padding: 10px;
}
.team-item .info-holder .title .desc{
    font-size: 15px;
     font-weight: bold;
}
.team-item .info-holder .title .position{
    font-size: 20px;
    font-weight:  bold;
    position: relative;
    background-color: #333;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    padding: 2px 28px;
    border:1px solid #404040 ;
    border-right-color: #2A2A2A;
    border-bottom-color: #2A2A2A;
    border-left: 0;
    margin-left: -16px;
}
.team-item .info-holder .title .position:after{
   position: absolute;
   content:" ";
 
   left: 0px;
   bottom:-7px;
   width: 0px;
height: 0px;
border-style: solid;
border-width: 0 6px 6px 0;
border-color: transparent #000 transparent transparent;


}
.team-item{
      margin-left: 10px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
}

.team-holder .avatar:after {
    background-image: url("../images/glow.png");
    background-position: -100px 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.team-holder .avatar{
    position: relative;
     overflow: hidden;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.team-holder {
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.team-item:hover{
    -moz-transform: scale(1.04) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1.04) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1.04) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1.04) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1.04) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.team-item{
    margin-bottom: 20px;
    -webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
		transition: all 200ms ease;
}
.team-item .seperator {
   
    width: 100%;
    height: 3px;
}
.team-item:nth-child(1) .seperator {
    background-color: #FF882B;
   
}
.team-item:nth-child(2) .seperator {
    background-color: #88C160;
   
}
.team-item:nth-child(3) .seperator {
    background-color: #FCD209;
   
}
.team-item:nth-child(4) .seperator {
    background-color: #EB5242;
   
}




.map {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 100%;
  height: 100%;
}

.map-holder img {
  max-width: none;
}
.map-holder label {
  width: auto;
  display: inline;
}

.map-holder {
    
  width: 93%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  height: 300px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.contact-info{
    text-align: center;
  
     width: 50%;
    margin: 0 auto 10px auto;
}
.big-icon:hover{
    opacity: 0.8;
     background-color: #333333;
}
.big-icon:hover i{
    
  color: #fff!important;
}
.big-icon{
    margin-bottom: 10px;
          -webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
    height: 40px;
    padding: 25px;
    width: 40px;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    background-color: #fff;
    display: inline-block;
    
}

.big-icon i{
              -webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
    color:#B82744;
     display: inline-block;
    font-size: 46px;
    margin-left: -3px;
    margin-top: -3px;
}
.contact-info .value{
    font-size: 17px;
     margin: 0 auto 30px auto;
     color:#fff;
      text-shadow:0px 1px 0px #000;
   word-wrap: break-word;
}

section.contact{
    background-color: #B82744;
    border-top: 1px solid #941F36;
}

section.clients{
    background-color: #C3E567;
    border-top:1px solid #728C2B;
    position: relative;
        z-index: 1940;
}
.feature-item .big-icon{
    text-align: center;
}
.feature-item .big-icon i{
    color:#333;
     margin-left: -1px;
    margin-top: -2px;
    font-size: 40px;
}
.feature-item .title{
 color: #FFFFFF;
}
.feature-item .icon-holder{
    text-align: right;
}
.feature-item{
    margin-bottom: 30px;
}
.social-icons {
    text-align: center;
}
.social-icons ul{
    margin: 10px 0 ;
    list-style: none;
}
.social-icons ul li{
    display: inline-block;
    
}
.social-icons ul li:hover a{
        color:#ccc;
}
.ie8 .social-icons ul li:hover{
    background-color: #333;
    
}
.ie8 .social-icons ul li{
    background-color: #000;
    padding: 10px;
    border-radius:50px;
    width: 20px;
    height: 20px;
}
.social-icons ul li:hover{
    background-color: rgba(0,0,0,0.9);
    
}
.social-icons ul li{
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius:50px;
    width: 20px;
    height: 20px;
}
.social-icons ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
}
section.footer{
    padding-bottom: 0px;
    border-top: 1px solid #7A7A7A;
}
.footer .social-icons{
    
     text-align: right;
}
.copyright{
   text-align: left;
   font-size: 15px;
     margin-top: 20px;
}
.copyright a{
    color:#AA2641;
} 
.price-table-holder{
    margin: 0 auto;
    padding: 40px 0 10px 0;
}
section.prices{
    background-color: #B1DAE4;
    border-top:1px solid #4B618B;
    position: relative;
        z-index: 19000;
}


.nav.dropdown.splited {
  padding: 2px !important;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  color:#ffffff!important;
    font-weight: bold;
}

.nav.dropdown {
  width: 90%;
  margin: 0 auto;
}


.nav {
  text-align: center;
}
.nav-tabs > li,
.nav-pills > li {
  display: inline-block;
  float: none;
}

.nav-menu {

  margin-top: 1px;
 
  
  border-radius: 0 0 5px 5px;

  -webkit-border-radius: 0 0 5px 5px;
}
.nav-menu ul {
  margin: 0;
}
.nav-menu .nav-pills li a {
  color: #f1f1f1;
  font-size: 18px;
}
.nav-menu .nav-pills li a:hover{
     color: #333!important;
     
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #B0CF5E !important;
  color: #fff!important;

}
.ie8 .nav{
    background-color: #000;
}
.ie8 .client-item .hover,.ie8 .client-item:hover .hover{
    display: none;
}
.ie8 .excerpt {
    
}
.ie8 .client-item:hover{
    background-color: #333333;
    border-color:#000;
}
.ie8 .client-item:hover .icon,.ie8 .client-item:hover .icon i{
    color:#fff;
}
.nav{
      position: fixed;
  top:-1px;
  z-index: 99999;
  left: 0;
  right: 0;
  margin: auto;

  border: 1px solid #000;
  border-top: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  padding: 3px;
}
.ie8 .nav-pills.dropdown {
  display: none;
}
.ie8 .nav-menu .nav-pills li a {
  font-size: 15px;
}





a
{
	outline:none!important;
}

.price-table-holder .no-margin
{
	margin-left:0!important;
}

.desc-table
{
	margin-top:114px;
	border:1px solid #2c3e50;
	border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
}

.btn
{
	text-shadow:none;
}

.price-table-holder
{
	width:100%;
}

.special .tabled-data
{
	border:9px solid #ECECEC;
	border-top:0;
}

.special.price-table
{
	z-index:999;
	-moz-transform:scale(1.06) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform:scale(1.0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform:scale(1.06) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform:scale(1.06) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform:scale(1.06) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.special.price-table .pay-duration
{
	background-color:#c0392b;
}

.special.price-table .price-holder
{
	background-color:#e74c3c;
	border-color:#c0392b;
}

.price-table .tabled-data
{
	border:1px solid #D8ECF1;
	border-top:0;
}

.desc-table .data-holder:hover
{
	background-color:#18232e!important;
}

.tabled-data .value
{
	color:#C0392B;
}

.special.price-table:hover .pay-duration
{
	background-color:#e74c3c;
}

.special.price-table:hover .price-holder
{
	background-color:#c0392b!important;
}

.data-holder .btn:hover
{
	background-color:#c0392b;
	border-bottom:5px solid #922D21;
}

.data-holder .btn
{
	width:80%;
	background-color:#e74c3c;
	background-image:none;
	color:#fff;
	border:0;
	border-radius:5px;
	-webkit-border-radius:5px;
	border-bottom:5px solid #c0392b;
}

.price-table .title h2
{
	color:#537597;
	font-size:17px;
	line-height:18px;
	padding-bottom:20px;
	text-shadow:0 2px 0 #18232e;
	margin:0;
}

.special .title h2
{
	color:#952e22;
	font-size:24px;
	line-height:18px;
	padding-bottom:20px;
	text-shadow:0 2px 0 #692118;
	margin:0;
}

.price-table,.desc-table
{
	position:relative;
	z-index:100;
	box-shadow:0 2px 2px #8C8C8C;
	-webkit-box-shadow:0 2px 2px #8C8C8C;
}

.price-table .data-holder:hover
{
	background-color:#ffffff!important;
}

.price-holder
{
	-webkit-transition:all 100ms ease;
	-moz-transition:all 100ms ease;
	-ms-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease;
	background-color:#34495e;
	color:#f1f1f1;
	text-align:center;
	border:1px solid #2c3e50;
	border-bottom:0;
	font-size:50px;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	padding:10px 0 0;
}

.price-table:hover .head-tooltip
{
	top:-23px;
}

.head
{
	position:relative;
}

.head-tooltip
{
	background-color:#f1c40f;
	color:#333333;
	border-radius:5px;
	-webkit-border-radius:5px;
	position:absolute;
	text-align:center;
	top:-3px;
	
	-webkit-transition:all 100ms ease;
	-moz-transition:all 100ms ease;
	-ms-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease;
	width:100%;
	font-size:18px;
	z-index:-1;
	padding:0 0 10px;
}

.price-holder .sign
{
	font-size:25px;
}

.pay-duration
{
	font-size:14px;
	text-shadow:none;
	background-color:#2c3e50;
	display:inline-block;
	padding:0 40px;
}

.data-holder
{
	text-align:center;
	color:#333;
	min-height:22px;
	-webkit-transition:all 100ms ease;
	-moz-transition:all 100ms ease;
	-ms-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease;
	font-size:15px;
	text-shadow:none;
	background-color:#f4fafb;
	padding:10px;
}

.data-holder:nth-child(2n+1)
{
	background-color:#f4fafb;
}

.data-holder:nth-child(2n)
{
	background-color:#e8f4f7;
}

.desc-table .data-holder
{
	color:#f1f1f1;
	text-align:left;
	background-color:#2c3e50;
}

.desc-table .data-holder i
{
	font-size:20px;
	margin-right:5px;
}

.not-available:after,.available:after
{
	font-size:20px;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
}

.not-available:after
{
	content:"";
	color:#c0392b;
}

.available:after
{
	content:"";
	color:#2ecc71;
}

.head .title
{
	text-align:center;
}

.price-table:hover .price-holder,.desc-table .data-holder:nth-child(2n+1)
{
	background-color:#2c3e50;
}

.price-table:hover .pay-duration,.desc-table .data-holder:nth-child(2n)
{
	background-color:#34495e;
}